.manage-spot-page {
    margin: 0px 0px 0px 4%;
}

.manage-spot-page .magane-tilte {
    font-size: x-large;
}

.spot-card{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 5px;
    
}

.update-delete-buttons {
    display: flex;
    column-gap: 3.5%;
}

.spot-place-stars {
    display: flex;
    justify-content: space-around;
}

.spot-info .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: 30%;
  }
  
  .spot-info:hover .tooltiptext {
    visibility: visible;
  }